<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<%= form_tag(channels_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Channels" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Boards</th>
      <!--<th>Date</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.boards.count %> </td>
        <td><%#= channel.date %></td>
        <% if can? :manage, channel%>
        <td><%= link_to 'Show', channel %></td>
        <% end %>
        <% if can? :update, channel%>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <% end %>
        <% if can? :destroy, channel%>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Boards', boards_url(:channel_id => channel.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @channels.blank? %>
    <h4>There are no Channels containing the term <%= params[:search] %>.</h4>
<% end %>

<% if can? :create, Channel %>
<%= link_to 'New Channel', new_channel_path %>
<% end %>
