<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @channel.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y-%m-%d at %H:%M") %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
