<p id="notice"><%= notice %></p>

<h1>User Statuses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_statuses.each do |user_status| %>
      <tr>
        <td><%= user_status.user_id %></td>
        <td><%= user_status.status_description %></td>
        <td><%= link_to 'Show', user_status %></td>
        <td><%= link_to 'Edit', edit_user_status_path(user_status) %></td>
        <td><%= link_to 'Destroy', user_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Status', new_user_status_path %>
