<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_status.user_id %>
</p>

<p>
  <strong>Status description:</strong>
  <%= @user_status.status_description %>
</p>

<%= link_to 'Edit', edit_user_status_path(@user_status) %> |
<%= link_to 'Back', user_statuses_path %>
