<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @board.date %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @board.channel_id %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
