<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @board.created_at %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @board.channel.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @board.message %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %> |