<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @channel_group.group.name %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @channel_group.channel.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @channel_group.date %>
</p>

<%= link_to 'Edit', edit_channel_group_path(@channel_group) %> |
<%= link_to 'Back', channel_groups_path %>
