<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :post_date %>
  </div>

  <div class="field">
    <%= form.label :board_id %>
    <%= form.collection_select :board_id, Board.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :post_message, :cols=>"50", :rows => "10"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
