<!DOCTYPE html>
<html>
  <head>
    <title>SemesterProject</title>

    <div id="navBar">
      <%= link_to 'Channel', channels_path %>

      <%# auth/session stuff%>
      <% if current_user %>
        Logged in as <%= current_user.username %>.
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to 'Sign up', signup_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>

    </div>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>