<!DOCTYPE html>
<html>
  <head>
    <title>SemesterProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- start navbar-->
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <!-- add linkies here-->
          <li><%= link_to 'Home', root_url %></li>
          
          <!--if manager is logged in, can see users-->
          <% if can? :manager, User %>
          <li><%= link_to 'Users', users_path %></li>
          <% end %>
        
          <!-- start user drop down if logged in-->
          <% if current_user %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
                <li>
                  <%= link_to 'Log out of ' << current_user.username, logout_path %> 
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Sign up', signup_path %></li>
            <li><%= link_to 'Log In', login_path %></li>
          <% end %>
          <!-- end if current user logged in else-->
        </ul>
      </nav>
    </div>
  </header>
  <!-- end navbar-->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

  
    <%= yield %>
  </body>
</html>