<!DOCTYPE html>
<html>
  <head>
    <title>SemesterProject</title>

    <div id="navBar">
      <%= link_to 'Channel', channels_path %>
      <%= link_to 'Sign up', new_user_path %>
      <%= link_to 'Log In', new_session_path %>
    </div>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#flash messages%>
    <%= flash[:notice]%>
    
    <%= yield %>
  </body>
</html>

